body{  
    margin: 0px;
    padding: 0px;
    background: rgba(14,11,31,1);
    background: -moz-linear-gradient(-45deg, rgba(14,11,31,1) 7%, rgba(18,17,32,1) 47%, rgba(24,24,33,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(7%, rgba(14,11,31,1)), color-stop(47%, rgba(18,17,32,1)), color-stop(100%, rgba(24,24,33,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,11,31,1) 7%, rgba(18,17,32,1) 47%, rgba(24,24,33,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,11,31,1) 7%, rgba(18,17,32,1) 47%, rgba(24,24,33,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,11,31,1) 7%, rgba(18,17,32,1) 47%, rgba(24,24,33,1) 100%);
    background: linear-gradient(135deg, rgba(14,11,31,1) 7%, rgba(18,17,32,1) 47%, rgba(24,24,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0b1f', endColorstr='#181821', GradientType=1 );
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
aside{
    border-radius: 17px;
    background: #161b2c;
    box-shadow: inset -5px 5px 10px #111521,
                inset 5px -5px 10px #1b2137;
                 z-index: 3;
}
#FotoPerfil{
    border-radius: 100%;
}
.ContPrinc{
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    height: 100vh;
    max-width: 100%;
}
.sidebar{
    max-width: 1fr;
display: grid;
place-content: center;
    grid-row: 2/6;
    grid-column: 1/4; 
  border-radius: 0px 30px 30px 0px;

}
.sidebar h5{
    font-size: 1.5vmax; 
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
.sidebar:hover{
transform: scale(1.01);
width:300px ;

}
.cont{
    display: grid;
    grid-row:4/14;
        grid-column:2/14;
        border: 4px solid #1c4e73;
        z-index: 1;
}
#cont1{
    display: grid;
grid-row:6/12;
    grid-column:4/14;

}
#cont1 h1{
    font-size: 8vmax;
   padding: 0px;
 margin: 0px;
    
}
#cont1 h6{
    margin-top: -10px;
    padding: 0px;
 margin: 0px;
    font-size: 2vmax;
}
.skills{
    border-radius: 17px;
    background: #161b2c;
    box-shadow: inset -5px 5px 10px #111521,
                inset 5px -5px 10px #1b2137;
    display:grid ;
    justify-content: center;
    grid-column:13/17 ;
    grid-row: 3/16;

    border-radius: 30px;
    transform: rotate(10deg);
    place-content: center;
    font-size: 1vmax;
    z-index: 2;
 
}
.skills:hover{

transform:  rotate(9deg);
}
